<ng-container [formGroup]="formGroup">
  <mat-label>{{ layout.label }}</mat-label>
  <mat-table
    class="col-12"
    [formArrayName]="layout.dataField"
    [dataSource]="parentForm.getRawValue()"
  >
    <ng-container
      [cdkColumnDef]="layout.tableMappings[tableHeading]"
      *ngFor="let tableHeading of layout.tableHeadings; let i = index"
    >
      <mat-header-cell *cdkHeaderCellDef> {{ tableHeading }} </mat-header-cell>
      <mat-cell
        *cdkCellDef="let row; let rowIndex = index"
        [formGroupName]="rowIndex"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            [formControlName]="layout.tableMappings[tableHeading]"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="action">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell
        *cdkCellDef="let row; let rowIndex = index"
        [formGroupName]="rowIndex"
      >
        <button mat-flat-button color="primary" (click)="removeItem(rowIndex)">
          Remove
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *cdkHeaderRowDef="getDisplayColumns()"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: getDisplayColumns()"></mat-row>
  </mat-table>

  <button mat-flat-button color="primary" (click)="addItem()">Add</button>
</ng-container>
