<div class="col-12">
  <div class="mat-form-field-label left">{{ layout.label }}</div>
  <button mat-flat-button color="primary" class="right" (click)="addItem()">
    Add
  </button>
</div>
<mat-form-field *ngFor="let formItem of parentForm.controls; let i = index">
  <input
    matInput
    [id]="layout.dataField + i"
    type="text"
    [formControl]="$any(formItem)"
  />
  <button mat-flat-button color="primary" class="right" (click)="removeItem(i)">
    Remove
  </button>
</mat-form-field>
