<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <mat-spinner></mat-spinner>
</div>
<ng-template #loaded>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar color="primary" *ngIf="auth.user$ | async as user">{{
        user.nickname
      }}</mat-toolbar>
      <mat-nav-list (click)="isHandset ? drawer.close() : null">
        <a mat-list-item [routerLink]="['/']" routerLinkActive="active">Home</a>
        <a
          *ngIf="auth.user$ | async as user"
          mat-list-item
          [routerLink]="['/user']"
          routerLinkActive="active"
          >User Profile</a
        >
        <a
          *ngIf="auth.user$ | async as user"
          mat-list-item
          [routerLink]="['/games']"
          routerLinkActive="active"
          >Games</a
        >
        <a
          *ngIf="auth.user$ | async as user"
          mat-list-item
          [routerLink]="['/characters']"
          routerLinkActive="active"
          >Characters</a
        >
      </mat-nav-list>
      <div class="center">
        <app-auth-button></app-auth-button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="side nav toggle icon">menu</mat-icon>
        </button>
        <span class="center">{{ title }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
