<div
  class="container pt-2"
  *ngIf="character && game && game.layout && game.layout.tabs"
>
  <h1 class="mat-h1">{{ character.characterName }}</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-tab-group>
      <mat-tab label="{{ tab.title }}" *ngFor="let tab of game.layout.tabs">
        <ng-container
          [ngTemplateOutlet]="layoutTemplate"
          [ngTemplateOutletContext]="{ rowItems: tab.layout.rows }"
        ></ng-container>
      </mat-tab>
    </mat-tab-group>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Submit
    </button>
  </form>

  <ng-template #layoutTemplate let-rowItems="rowItems">
    <ng-container *ngIf="rowItems">
      <div class="row" *ngFor="let row of rowItems">
        <ng-container
          *ngIf="row.control"
          [ngTemplateOutlet]="controlTemplate"
          [ngTemplateOutletContext]="{ controlItem: row.control }"
        ></ng-container>
        <ng-container *ngIf="row.columns">
          <div
            class="col-{{ column.width }}{{
              column['collapsable'] ? ' col-12-sm' : ''
            }}"
            *ngFor="let column of row.columns"
          >
            <ng-container
              *ngIf="column.control"
              [ngTemplateOutlet]="controlTemplate"
              [ngTemplateOutletContext]="{ controlItem: column.control }"
            ></ng-container>
            <ng-container
              *ngIf="column.rows"
              [ngTemplateOutlet]="layoutTemplate"
              [ngTemplateOutletContext]="{ rowItems: column.rows }"
            ></ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #controlTemplate let-controlItem="controlItem">
    <ng-container *ngIf="controlItem.type === 'titleLabel'">
      <app-title-label [layout]="controlItem"></app-title-label>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'smallLabel'">
      <app-small-label [layout]="controlItem"></app-small-label>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'mediumLabel'">
      <app-medium-label [layout]="controlItem"></app-medium-label>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'largeLabel'">
      <app-large-label [layout]="controlItem"></app-large-label>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'textInput'">
      <app-text-input
        [layout]="controlItem"
        [parentForm]="getParentControl(controlItem.dataField)"
        [controlName]="getControlName(controlItem.dataField)"
      ></app-text-input>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'numericInput'">
      <app-number-input
        [layout]="controlItem"
        [parentForm]="getParentControl(controlItem.dataField)"
        [controlName]="getControlName(controlItem.dataField)"
      ></app-number-input>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'boolInput'">
      <app-bool-input
        [layout]="controlItem"
        [parentForm]="getParentControl(controlItem.dataField)"
        [controlName]="getControlName(controlItem.dataField)"
      ></app-bool-input>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'listInput'">
      <app-list-input
        [layout]="controlItem"
        [parentForm]="getFormControl(controlItem.dataField)"
      ></app-list-input>
    </ng-container>
    <ng-container *ngIf="controlItem.type === 'tableInput'">
      <app-table-input
        [layout]="controlItem"
        [parentForm]="getFormControl(controlItem.dataField)"
        [formGroup]="getParentControl(controlItem.dataField)"
      ></app-table-input>
    </ng-container>
  </ng-template>
</div>
